# Broker Selection: MetaTrader 5 (FXPesa, Exness, etc.)

# MetaTrader 5 Credentials (For FXPesa, Exness, etc.)
MT5_LOGIN=5047801390
MT5_PASSWORD=@jR2JuWk
MT5_SERVER=EGMSecurities-Live


# M-Pesa Credentials (Till / Pochi Support)
MPESA_CONSUMER_KEY=8Lsb549nqv6bQiPSzZWb2Eg2ExKQInQ6A5NUnqilRaRi6mxH
MPESA_CONSUMER_SECRET=V50ck0BFzmIXLnpRK9tpgNFuyH8xioPy2qdwae3dF77B6NSzIRPNLkPGCbAF23uw
MPESA_SHORTCODE=0746957621
MPESA_PASSKEY=N/A
MPESA_ENV=sandbox # Use 'live' for production
MPESA_TYPE=CustomerBuyGoodsOnline # Use 'CustomerBuyGoodsOnline' for Till/Pochi, 'CustomerPayBillOnline' for PayBill